[2017-06-13 07:41] rougier opened #1 "Co-authoring + affilliation"
Dear editors, dear reviewers, dear authors,

We're in the process of writing an article about the ReScience journal and you're invited to co-author the article since you have been contributing to the journal by accepting to be an editor, by having actually reviewed articles or by having submitted a replication. If you are ok to be a co-author, could you post an answer below saying explicitly "I ag

[2017-06-13 07:58] eroesch commented on #1
I agree to co-author. (Centre for Integrative Neuroscience, School of Psychology, University of Reading, UK)

[2017-06-13 08:03] ThomasA commented on #1
I agree to co-author. (Department of Electronic Systems, Faculty of Engineering and Science, Aalborg University, Denmark)

[2017-06-13 08:04] ChristophMetzner commented on #1
I agree to co-author (Centre for Computer Science and Informatics Research, University of Hertfordshire, UK)

[2017-06-13 08:04] ThomasA opened #2 "Article"
I assume we get to see the draft before submission?
Thanks for the initiative - just let me know if there is anything else I can do to contribute.

[2017-06-13 08:06] rougier commented on #2
Yes, the draft is in the repo (you'll have to compile it though).
Suggestions/Comments/Corrections welcome.

[2017-06-13 08:07] apdavison commented on #1
I agree to co-author (Unité de Neurosciences, Information et Complexité, Centre National de la Recherche Scientifique, Gif-sur-Yvette, France)

[2017-06-13 08:17] MehdiKhamassi commented on #1
I agree to co-author. (Institute of Intelligent Systems and Robotics,
Sorbonne Universités, UPMC Univ Paris 06, CNRS F-75005 Paris, France)

[2017-06-13 08:18] Vahidrostami commented on #1
I agree to co-author. (Institute of Neuroscience & Medicine (INM-6) and Institute for Advanced Simulation (IAS-6), and JARA-Brain Institute I (INM-10), Jülich Research Center, Jülich, Germany)

[2017-06-13 08:27] neuronalX commented on #1
I agree to co-author. (Inria Bordeaux Sud-Ouest, Talence, France.
LaBRI, UMR 5800, CNRS, Bordeaux INP, Université de Bordeaux, Talence, France.
Institut des Maladies Neurodégénératives, UMR 5293, CNRS, Université de Bordeaux, Bordeaux, France.)

[2017-06-13 08:33] pietromarchesi commented on #1
I agree to co-author. (Swammerdam Institute for Life Sciences, Center for Neuroscience, Faculty of Science, University of Amsterdam, 1098 XH Amsterdam, the Netherlands.)

[2017-06-13 08:40] vitay commented on #1
I agree to co-author. (Professorship for Artificial Intelligence, Department of Computer Science, Chemnitz University of Technology, Chemnitz, Germany)

[2017-06-13 09:13] rossant commented on #1
I agree to co-author. (Institute of Neurology, University College London, UK)

[2017-06-13 09:15] soolijoo commented on #1
I agree to co-author (UCL Great Ormond St Institute of Child Health. University College London, London, UK)

[2017-06-13 09:23] oliviaguest commented on #1
I agree to co-author. (Experimental Psychology, University College London, UK)

[2017-06-13 09:30] mstimberg commented on #1
I agree to co-author. (Sorbonne Universités, UPMC Univ Paris 06, INSERM, CNRS, Institut de la Vision, Paris, France)

[2017-06-13 09:41] heplesser commented on #1
I agree to co-author. (Faculty of Science and Technology, Norwegian University of Life Sciences, PO Box 5003, 1432 Aas, Norway AND Institute of Neuroscience and Medicine (INM-6), Jülich Research Centre, Jülich, Germany)

[2017-06-13 09:49] rth commented on #1
I agree to co-author.  (Symerio, Palaiseau, France)

[2017-06-13 10:29] delsuc commented on #1
I agree to co-author (IGBMC, INSERM U964, CNRS UMR 7104, Université de Strasbourg, Illkirch, France)

[2017-06-13 11:01] dmcglinn commented on #1
I agree to co-author. (Department of Biology, College of Charleston, Charleston, SC, USA)

[2017-06-13 11:44] labarba commented on #1
I agree to co-author. (Department of Mechanical and Aerospace Engineering, the George Washington University, Washington DC, USA)

[2017-06-13 12:30] pdebuyl commented on #1
I agree to co-author

Instituut voor Theoretische Fysica, KU Leuven, 3001 Leuven, Belgium

Acknowledgements must state "PdB is a postdoctoral fellow of the Research Foundation - Flanders (FWO)."

[2017-06-13 12:36] jsta commented on #1
I agree to co-author. (Department of Fisheries and Wildlife, Michigan State University, MI, USA)

[2017-06-13 12:47] Fjanks commented on #1
I agree to co-author. (Network Dynamics, Max Planck Institute for Dynamics and Self-Organization, Germany)

[2017-06-13 12:55] benoit-girard commented on #1
I agree to co-author. (Institute of Intelligent Systems and Robotics, Sorbonne Universités, UPMC Univ Paris 06, CNRS F-75005 Paris, France).

[2017-06-13 13:02] damiendr commented on #1
I agree to co-author (Department of Computer Science, Humboldt-Universität zu Berlin)

[2017-06-13 13:47] gviejo commented on #1
I agree to co-author (Montreal Neurological Institute, McGill University,
Montreal, Canada)

[2017-06-13 13:59] otizonaizit commented on #1
I agree to co-author (Neural Information Processing Group, University of Tübingen, Germany)

[2017-06-13 14:21] gdetor commented on #1
I agree to co-author (Department of Cognitive Sciences, University of California Irvine, USA)

[2017-06-13 14:37] aaronshifman commented on #1
I agree to co-author (Department of Biology, University of Ottawa, Ottawa, Ontario, Canada)

[2017-06-13 16:58] p-enel commented on #1
I agree to co-author (Friedman Brain Institute, Icahn School of Medicine at
Mount Sinai, NY, USA)

On Tue, Jun 13, 2017 at 9:02 AM, Damien Drix <notifications@github.com>
wrote:

[2017-06-13 20:03] almarklein commented on #1
I agree to co-author ([independent scholar](https://academia.stackexchange.com/questions/19710), Enschede, The Netherlands)

[2017-06-14 12:57] benureau commented on #1
I agree to co-author; same affiliations as @rougier.

[2017-06-15 07:35] karthik commented on #1
I agree to co-author

Berkeley Institute for Data Science, University of California Berkeley, Berkeley, CA 94720.

[2017-06-15 08:48] ozancaglayan commented on #1
I agree to co-author (Laboratoire d'Informatique de l'Université du Maine (LIUM), Le Mans, France)

[2017-06-15 10:10] falex33 commented on #1
I agree to co-author (INRIA Bordeaux Sud-Ouest Talence, France – Institut des Maladies Neurodégénératives, Université de Bordeaux, CNRS UMR 5293, Bordeaux, France – LaBRI, Université de Bordeaux, Bordeaux INP, CNRS UMR 5800, Talence, France)

[2017-06-15 10:50] RafaelNH commented on #1
I agree to co-author (MRC Cognition and Brain Sciences Unit, Cambridge, UK)

[2017-06-15 15:13] yoavram commented on #1
I agree to co-author (Department of Biology, Stanford University, Stanford, CA 94305)

[2017-06-15 16:57] anyaevostinar commented on #1
I agree to co-author (Department of Computer Science, Grinnell College, IA)

[2017-06-15 20:12] tpoisot commented on #1
I agree to co-author (Département de Sciences Biologiques, Université de Montréal, Montréal, Canada)

[2017-06-16 03:48] ctb commented on #1
I agree to co-author. (Department of Population Health and Reproduction, University of California Davis, Davis, CA, USA.)

[2017-06-16 16:02] rougier opened #6 "Where to publish?"
(From https://github.com/ReScience/ReScience-article/issues/3)

Wish list:

1. Open access
2. Open reviewing
3. Low cost
4. Read by computational scientists from all fields
5. Other criterion?

Is there any journal that satisfies all criteria?

[2017-06-16 16:03] rougier commented on #6
- [F1000Research](http://f1000research.com/)

  Open access, open review, and a good topic section (publishing, education, communication), but also a serious price tag (500 or 1000 US$ depending on length)

  - [x] Open access
  - [x] Open reviewing
  - [ ] Low cost?
  - [ ] Read by all?

[2017-06-16 16:04] rougier commented on #6
- [PeerJ Computer Science](https://peerj.com/computer-science/)

  In spite of the name there are many articles on computational science as well. Open access
  but not open reviewing. High page charges (695 US$).

  - [x] Open access
  - [ ] Open reviewing
  - [ ] Low cost?
  - [ ] Read by all?

[2017-06-16 16:09] rougier commented on #6
- [Computing in Science & Engineering](https://www.computer.org/web/computingnow/cise)

  Focused on computational science, no page charges, but no open access either
  (not even for money), nor open reviewing. There are two channels: peer-reviewed articles, and department contributions that are evaluated by the department editors.

  **Disclaimer**: @khinsen is department editor for "Scientific P

[2017-06-16 16:11] rougier commented on #6
* [PLoS ONE](http://journals.plos.org/plosone/)

  They advertise to publish reports of original research from all disciplines within science and medicine.

  - [x] Open access
  - [ ] Open reviewing
  - [ ] Low cost?
  - [x] Read by all?

[2017-06-16 16:19] rougier commented on #6
- [Royal Society Open Science](http://rsos.royalsocietypublishing.org)

  From the website: *A fast, open journal publishing high quality research across all of science, engineering and mathematics.*

  - [x] Open access
  - [x] Open reviewing
  - [x] Low cost?
  - [x] Read by all?

[2017-06-17 13:19] opetchey commented on #1
I agree to co-author (Department of Evolutionary Biology and Environmental Studies,
University of Zurich, Switzerland).

And please insert my middle initial: L

Thanks! Owen

[2017-06-20 18:15] rougier opened #8 "Check for you affiliation and ORCID number and draft"
Dear all,

We've just integrated affiliation and ORCID in the [draft](https://github.com/ReScience/ReScience-article-2/blob/master/draft.pdf) (PDF). Can you check your name/affiliation/ORCID is correct?

If not correct, you'll have to make correction on the [parse-board.py](https://github.com/ReScience/ReScience-article-2/blob/master/parse-board.py) script or on the [04-board.md](https://github.co

[2017-06-20 18:20] rougier commented on #8
Sorry for spam:

@rougier, @khinsen, @otizonaizit, @pdebuyl, @ctb, @ThomasA, @tpoisot, @karthik, @oliviaguest, @labarba, @MehdiKhamassi, @benoit-girard, @vitay, @gdetor, @dmcglinn, @yoavram, @heplesser, @apdavison, @neuronalX, @piero-le-fou, @mstimberg, @rossant, @eroesch, @damiendr, @delsuc, @soolijoo, @benureau, @rth, @almarklein, @pietromarchesi, @anyaevostinar, @ozancaglayan, @aaronshifman, @g

[2017-06-20 19:55] eroesch commented on #8
Proposed journal: Science.

[2017-06-20 20:05] rougier commented on #8
@eroesch Can you add it in #6 ?

[2017-06-20 20:21] pdebuyl commented on #6
@eroesch suggests

- [Science](http://science.sciencemag.org/)
  From the website: Science *is a weekly, peer-reviewed journal that publishes significant original scientific research, plus reviews and analyses of current research and science policy.*
  - [ ] Open access
  - [ ] Open reviewing
  - [ ] Low cost
  - [x] Read by all

[2017-06-20 20:21] pdebuyl commented on #8
Added to #6

[2017-06-20 20:33] pdebuyl commented on #6
Do journal allow pooling of publication fees by sending several partial invoices?

[2017-06-20 20:43] ThomasA commented on #6
* [Journal of Open Research Software](http://openresearchsoftware.metajnl.com/)
  *The Journal of Open Research Software (JORS) features peer reviewed Software Metapapers describing research software with high reuse potential. We are working with a number of specialist and institutional repositories to ensure that the associated software is professionally archived, preserved, and is openly availab

[2017-06-20 21:41] jsta commented on #8
Affiliation and ORCID looks good.

I am about to submit a PR with some grammar fixes for the introduction.

[2017-06-20 23:47] jsta commented on #8
I just finished a review of the paper draft. Look great!

I did have two thoughts:

* In the _GitHub Platform_ section I am worried that the terms `pull request` and contribution `merging` will be lost to people without git experience. Should we define them or rephrase?

* The ending is a bit of downer. Should we end with more optimism about ongoing educational efforts that may increase the freque

[2017-06-21 04:27] rougier commented on #8
@jsta You're right. I would (personally) go for a definition (using box like for testimony ?) since it is als used on the website and such definition might help the curious reader. For the ending, yes, we could try to appear to be more optimistic but the reality is not so great concerning reproducibility.

[2017-06-21 09:50] ChristophMetzner commented on #8
I also had a look at the draft and agree that it looks great.

One comment: in the outlook it is stated that "ReScience is the only scientific journal that aims to verify the correctness of scientific software." and correctness is also mentioned in the introduction. Maybe it should be noted that a) the verification of correctness is not rigorous, i.e. the reviewers try their best to ensure correct

[2017-06-21 10:44] rougier commented on #8
You're right, could propose a PR for attenuating the claim ?

[2017-06-21 10:50] ChristophMetzner commented on #8
Yes I can. I am pretty busy for the rest of this week, so could do it next week.

[2017-06-21 10:51] oliviaguest commented on #8
@eroesch I back this idea. What type of Science article — letter?

@rougier I will read this for proof reading (if any such minor corrections are indeed needed) soon and also to see if I have anything myself more substantial to add.

Is there any soft/hard deadline in place?

[2017-06-21 11:03] oliviaguest opened #10 "Compilation/BibTeX issues"
How are you compiling? I get BibTeX finished with exit code 2. Maybe add a ```README.md```?

[2017-06-21 11:17] khinsen commented on #8
@oliviaguest The soft deadline is "before everyone's summer vacations", otherwise we'll lose the momentum we have.

Suggested timeline: substantial enhancements (new paragraphs etc.) by the end of June, final proofreading during the first week of July.

[2017-06-21 11:19] oliviaguest commented on #8
@khinsen OK, I have started reading and editing as I go (sent PR as done with 1st section) and will continue slowly before summer vacations of others (I have none planned — haha). :+1:

[2017-06-21 12:16] soolijoo commented on #8
Hi, affiliation is good for me, but please could you add my middle initial so that the name is Matt G Hall instead of Matt Hall.

Tx!

[2017-06-21 12:16] rougier commented on #10
pdflatex & biber:

[code]

[2017-06-21 12:26] oliviaguest commented on #10
Oh, right, never used biber — explains my problems. :wink:

[2017-06-21 12:33] rougier commented on #10
Just added a README.

[2017-06-21 12:33] #10 closed, assigned to nobody

[2017-06-21 14:05] labarba commented on #6
Regarding _Computing in Science and Engineering_,
our plan with @gkthiruvathukal is for the RR track to be open access. We also had animated discussions at the last in-person meeting of the Editorial Board (in April) about double-open reviews. The consensus is that we want to implement it, at least in an opt-in fashion, and the next step is to figure out the technical hurdles in the manuscript sub

[2017-06-21 14:22] jsta commented on #10
Based on the README, I take it that you do not need file endings on those commands. My Makefile reads:

[code]

[2017-06-21 14:41] oliviaguest commented on #10
Tangent, but why not pop the Makefile in the repo too?

[2017-06-21 18:29] rougier opened #17 "Miscellaneous milestones"
See https://github.com/ReScience/ReScience-article-2/milestones

[2017-06-22 15:47] FedericoV commented on #1
I agree to co-author (Amazon, Seattle, United States).

[2017-06-22 22:51] heplesser commented on #8
My affiliation and ORCID is fine.

I am in principle very happy with the draft, but for two issues:

1. The manuscript points to PLOS' sharing policies. These are better than nothing, but they are not really enforced. Just this year I have read several new PLOS Comp Biol papers that did not even describe the details of the simulations behind the paper, not to speak of making software directly acce

[2017-06-22 23:28] labarba commented on #8
Regarding the Drummond paper (a conference workshop paper, mind you), please read this analysis by a linguist:

http://languagelog.ldc.upenn.edu/nll/?p=21956 <http://languagelog.ldc.upenn.edu/nll/?p=21956>

See also my post on this:
https://github.com/ReScience/ReScience-article/issues/5#issuecomment-241232791
_______________________________________
Lorena A. Barba
Associate Professor, Mechanical

[2017-06-23 10:16] eroesch commented on #8
@oliviaguest Yeah, I think "letter" is fine. Not sure the article as it stands fits the guidelines though.

@rougier I am going through the .tex btw. I'll try to submit pull requests as often as possible.

[2017-06-23 14:30] khinsen commented on #8
@heplesser We have had this discussion before, please  https://github.com/ReScience/ReScience-article-2/issues/8.

Terminology is definitely not settled, and we won't settle it in this paper. The best we can do is define our choices, and be consistent with the use elsewhere in ReScience, in particular on the Web site. If you notice incoherent use of terms *within* the ReScience universe, please le

[2017-06-23 18:27] MehdiKhamassi commented on #2
Page 4 left column, at the end of the sentence saying "Since independent implementation is a major feature of replication work, ReScience does not allow authors to submit replications of their own research, nor the research of close collaborators", I propose to add: ", nor the research of others using their original code".

[2017-06-23 19:28] rougier commented on #2
I'm not sure to get the difference. But the sentence you underlined needs definitely to be changed since we actually allow "self-replication" if the work is sufficiently old (around 10 years old)

[2017-06-24 10:09] MehdiKhamassi commented on #2
What I meant is: no matter if the replicated work is from a collaborator or not, it cannot be accepted by ReScience if the replication is done using the original code (or just changing a few lines of this original code) rather than by performing a re-implementation. It may sound obvious. Using the original code may even fall out of the definition of replication. Nevertheless, I think it's still us

[2017-06-24 10:15] ThomasA commented on #2
I am not trying to troll here, but even using the same code could be interesting after a few years as your code might rot invisibly due to new versions of dependencies.

[2017-06-25 16:49] MehdiKhamassi commented on #2
I understand your point, and I agree that this would be interesting. Nevertheless, would it deserve publication of a new article in ReScience?

[2017-06-25 17:12] delsuc commented on #8
I am reading the draft, and I believe the introduction is lacking a reference or two to the work of David Donoho, who has been an early and ardent advocate of reproducibility in science and in particular in mathematics and applied mathematics, as a member of the American Acad. of Science, and an active editor of PNAS, where he has been enforcing the policy of full access to code and data.

For ins

[2017-06-25 17:47] rougier commented on #8
@delsuc I agree. Can you make a PR to modify the draft accordingly?

[2017-06-25 17:49] rougier commented on #2
While "rotten" code is a problem, I'm not sure it is part of the ReScience mission. As a matter of fact, ReScience replication are also doomed in the more or less long term.

[2017-06-25 21:32] delsuc commented on #8
I'll do that.

[2017-06-26 07:35] khinsen commented on #2
@ThomasA Diagnosing [software collapse](http://blog.khinsen.net/posts/2017/01/13/sustainable-software-and-reproducible-research-dealing-with-software-collapse/) in science is definitely worthwhile, but it's very different from the replication work that ReScience is designed for. It's a purely technical problem (no scientific expertise required), and I hope that in the long run we will have an infr

[2017-06-26 07:36] heplesser commented on #8
@khinsen @labarba My apologies for overlooking the [R-words terminology discussion](https://github.com/ReScience/ReScience-article/issues/5). BTW, what is the relation between the `ReScience-article` and the `ReScience-article-2` repositories?

I think it would be useful to make explicit which terminological tradition this paper follows, e.g., by extending the last sentence of the first paragraph

[2017-06-26 07:47] khinsen commented on #8
@heplesser `ReScience-article` was a first attempt to write an article about ReScience in a distributed/collaborative fashion. It led to a lot of useful discussion, but not to much progress towards a publishable article. `ReScience-article-2` is a second attempt in which @rougier and myself have written a substantial draft before launching a call for contributions. We hope this will work out bette

[2017-06-26 07:48] heplesser commented on #8
Now I am really confused. I just looked at the [ReScience FAQ](http://rescience.github.io/faq/), which states

"Replication of a computational study means running the same computation on the same input data, and then checking if the results are the same, or at least “close enough” when it comes to numerical approximations. Replication can be considered as software testing at the level of a complet

[2017-06-26 07:51] khinsen commented on #8
@heplesser Good catch! It's the FAQ that needs updating, as the paragraph you quote is not in line with the rest of the site.

[2017-06-26 07:58] rougier commented on #8
Oh f..., that's a (big) mistake. PR welcome.

[2017-06-26 07:59] khinsen commented on #8
@heplesser @rougier I just corrected the FAQ.

[2017-06-27 14:30] khinsen opened #21 "Title"
The current title of the article is "Long-Term Reproducibility through Replication: the ReScience Initiative". Unfortunately, the meaning of "reproducibility" in this title does not conform to the definition that we give in section 2. Worse, a later section explains why "long-term reproducibility" is impossible in practice with today's computing technology.

Here is one proposal for a better title

[2017-06-28 14:09] benoit-girard commented on #8
I am a bit puzzled by the fact that the "The ReScience Initiative" section states that a submission is accepted if reviewers "consider these results sufficiently close to the ones reported in the original paper being replicated.", leaving no explicit room for papers reporting replication failure, which is however presented as acceptable outcome by Fig. 1 "Success or failure to replicate is not a c

[2017-06-28 14:53] rougier commented on #8
@benoit-girard You're right because we accept failure to replicate, it's even in the FAQ.

[2017-06-29 21:51] pdebuyl commented on #6
texcount gives close to 5000 words in the current version. Not all journals will accept this.

Also, some journals have rather strong statements on the type of articles. Royal Society Open Science, for instance, has as first criterion

that diminishes my motivation to submit there with the type of paper we have.

Finally, what audience do we want? Optimistically, I'd like the broadest audience as

[2017-06-30 07:51] pdebuyl commented on #6
Some consider F1000 to publish peer-review related articles: http://fossilsandshit.com/research/publications/submitted-ver-1/ @khinsen what does your experience say about this?

[2017-06-30 08:39] khinsen commented on #6
@pdebuyl I think F1000 is an excellent fit for our topic. Potential problems:
 - High page charges
 - The authors must propose referees, which F1000 accepts or refuses according to unclear rules. Then the referees can of course accept of refuse individually. This could be an issue for us because most potential referees are already authors.

Having recently reviewed an article, I have "earned" a 50

[2017-07-03 06:32] rougier commented on #21
The idea of the original title was to underline the fact that a replication provides long term support for a given computational research with the combination of the original and the new article.

Long term support through replication: the ReScience Initiative

[2017-07-03 07:55] rougier commented on #17
- [x] Deadline for authoring (30/06/2017)

- [x] Deadline for major changes (30/06/2017)
        We'll accept major changes until 30/06/2017

- [x] Deadline for journal choice (14/07/2017)
       We need to choose a journal before mid-july

- [x] Deadline for minor changes (07/07/2017)
       We'll freeze the draft after 07/07/2017

[2017-07-04 19:58] pdebuyl commented on #21
Perennial computational science through replication: the ReScience Initiative

[2017-07-05 07:20] rougier commented on #21
@pdebuyl Just learnt a new word!

[2017-07-06 13:08] benoit-girard commented on #2
The 2017 Manninen et al paper on the reprodusibility of astrocyte models (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5318440/) should probably be cited somwhere in the introduction, but I have at the moment no good suggestion about where and how... So if anyone has an idea...

[2017-07-06 13:11] benoit-girard commented on #2
Maybe simply there:

"Surprisingly, the computational sciences (in the broad sense) and computer sciences (in the strict sense) are no exception (Donoho, Maleki, Rahman, Shahram, & Stodden, 2009; Manninen, Havela, & Linne, 2017) despite the fact they rely heavily on code and data, which should make them immune to the aforementioned problems."

[2017-07-06 13:56] rougier commented on #2
Using the magic doi2bib.org:

[code]

[2017-07-07 09:41] khinsen commented on #21
Another idea along the same line, with a nod to the sustainable software movement:

Sustainable computational science through replication: the ReScience Initiative

[2017-07-07 11:34] rougier commented on #21
May we can even shorten it:

**Sustainable computational science: the ReScience Initiative**

[2017-07-10 08:30] alexdiem commented on #1
I agree to co-author, ORCID 0000-0003-1719-1942 (Computational Engineering and Design, Faculty of Engineering and the Environment, University of Southampton, UK)

[2017-07-10 08:40] KamilSJaron commented on #1
I agree to co-author; ORCID 0000-0003-1470-5450 (Kamil S. Jaron, Department of Ecology and Evolution, University of Lausanne, 1015 Lausanne, Switzerland)

[2017-07-10 08:43] pdebuyl commented on #6
@ctb @karthik I see that you published "Issues in Research Software" papers in JORS. Any feedback for the paper here?

[2017-07-10 09:09] pdebuyl commented on #6
Oops, for JORS issues in research software papers: "Articles should not exceed 3-4000 words"

[2017-07-10 09:09] rougier opened #27 "Potential reviewers"
@rougier, @khinsen, @otizonaizit, @pdebuyl, @ctb, @ThomasA, @tpoisot, @benoit-girard, @karthik, @oliviaguest, @labarba, @benoit-girard, @MehdiKhamassi, @vitay, @gdetor, @dmcglinn, @yoavram, @FedericoV, @heplesser, @apdavison, @neuronalX, @piero-le-fou, @mstimberg, @rossant, @eroesch, @damiendr, @delsuc, @soolijoo, @benureau, @rth, @KamilSJaron, @almarklein, @pietromarchesi, @anyaevostinar, @ozanca

[2017-07-10 09:21] pdebuyl commented on #27
A first list, to get it moving :-)

[2017-07-10 09:22] pdebuyl commented on #27
Jake Vanderplas

[2017-07-10 09:22] pdebuyl commented on #27
Kathryn Huff

[2017-07-10 09:22] pdebuyl commented on #27
Daniel S Katz

[2017-07-10 09:22] pdebuyl commented on #27
Gaël Varoquaux

[2017-07-10 09:22] pdebuyl commented on #27
Fernando Perez

[2017-07-10 09:22] pdebuyl commented on #27
Stefan van der Walt

[2017-07-10 09:22] pdebuyl commented on #27
Jonathan Dursi

[2017-07-10 12:03] apdavison opened #32 "Anonymization of young researchers"
The text currently says:

But wouldn't we need both anonymous submission and anonymous _publication_ (since otherwise retaliation could happen post-publication), and wouldn't the latter remove much of the incentive of publishing in the first place?

[2017-07-10 12:10] rougier commented on #32
You're right, maybe this part is not clear enough. Ideally, we would like to have a system for anonymous submission/publication but with a way for anonymous author to prove they have published in ReScience (or that they have published this specific article). But we have no such  solution yet.

[2017-07-10 16:24] benureau commented on #27
David L. Donoho

[2017-07-10 16:25] benureau commented on #27
Arian Maleki

[2017-07-10 16:25] benureau commented on #27
Morteza Shahram

[2017-07-10 16:27] FedericoV commented on #27
Andrew Gelman

[2017-07-10 18:37] TiinaManninen commented on #1
I agree to co-author, ORCID 0000-0002-0456-1185 ( BioMediTech Institute and Faculty of Biomedical Sciences and Engineering, Tampere University of Technology, Tampere, Finland)

[2017-07-10 19:09] rougier opened #33 "Uploading to arxiv"
@rougier, @khinsen, @otizonaizit, @pdebuyl, @ctb, @ThomasA, @tpoisot, @benoit-girard, @karthik, @oliviaguest, @labarba, @benoit-girard, @MehdiKhamassi, @vitay, @gdetor, @dmcglinn, @yoavram, @FedericoV, @heplesser, @apdavison, @neuronalX, @piero-le-fou, @mstimberg, @rossant, @eroesch, @damiendr, @delsuc, @soolijoo, @benureau, @rth, @KamilSJaron, @TiinaManninen, @almarklein, @pietromarchesi, @anyaev

[2017-07-10 19:30] rougier opened #34 "Abstract !!!"
We forgot the abstract ! Any taker ?

[2017-07-10 22:37] yoavram commented on #27
[Stephen R. Piccolo](https://piccolo.byu.edu/People), author of [Tools and techniques for computational reproducibility](https://gigascience.biomedcentral.com/articles/10.1186/s13742-016-0135-4)

[2017-07-11 07:26] #1 closed, assigned to khinsen, rougier

[2017-07-11 07:26] #2 closed, assigned to nobody

[2017-07-11 07:31] rougier opened #37 "Success or failure to replicate is not a criterion for acceptance or rejection"
It is written in the FAQ but we do not mention it in the article as mentioned by @benoit-girard in #8:

*I am a bit puzzled by the fact that the "The ReScience Initiative" section states that a submission is accepted if reviewers "consider these results sufficiently close to the ones reported in the original paper being replicated.", leaving no explicit room for papers reporting replication failur

[2017-07-11 07:31] #8 closed, assigned to nobody

[2017-07-11 07:31] #17 closed, assigned to nobody

[2017-07-11 07:31] #21 closed, assigned to nobody

[2017-07-11 08:42] rougier commented on #34
**Proposal (extracted from the ReScience website)**:

If computer science offers a large set of tools for prototyping, writing, running, testing, validating, sharing and replicating results, computational science still lags behind. In the best case, authors may provide the sources of their research as a compressed archive and feel confident their research is replicable. But this is not exactly tru

[2017-07-11 09:00] rougier commented on #37
I just corrected the manuscript.

[2017-07-11 11:17] #37 closed, assigned to nobody

[2017-07-11 11:23] rougier commented on #6
[Nature Communications](https://www.nature.com/ncomms/) (following @pdebuyl inquiry about JOSS paper on twitter)

  - [x] Open access
  - [ ] Open reviewing
  - [ ] Low cost? **€3,700** !!!
  - [x] Read by all?

[2017-07-11 12:02] alexdiem commented on #33
I'm listed as an author twice (#11), affiliation is correct though

[2017-07-11 12:04] rougier commented on #33
Thanks, I'll correct it.
**Update**: done.

[2017-07-12 05:56] TiinaManninen opened #39 "Possible two extra references"
You most probably know the following two articles but if not please check if you think we should cite them in addition to the present references:

1) A manifesto for reproducible science:
https://www.nature.com/articles/s41562-016-0021

2) 1,500 scientists lift the lid on reproducibility:
http://www.nature.com/news/1-500-scientists-lift-the-lid-on-reproducibility-1.19970

[2017-07-12 08:48] pdebuyl commented on #6
The Nat. Commun. idea did not work that well apparently https://twitter.com/kyleniemeyer/status/884901200075870212

I suggest to assess the suitability of the paper for the journal:
- [x] F1000
- [x] PeerJ Computer Science
- [ ] Computing in Science & Engineering (not open access)
- [x] Plos ONE
- [ ] Royal Society Open Science. Strict criterion of "original research".
- [ ] Science. Our paper is

[2017-07-12 08:54] rougier commented on #6
And I just realized Nature Comm. charges €3,700 !!!

[2017-07-12 14:06] kyleniemeyer commented on #6
Hi all, jumping in here thanks to @pdebuyl's link on Twitter. Just FYI, we (the JOSS editors) originally submitted to PeerJ CS, but they rejected our submission as not being a "research article", the only type of article they publish.

[2017-07-12 14:12] ctb commented on #6
I would be happy to try to introduce this to PNAS via editorial inquiry. We originally tried to put the [best practices](journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745) paper there but they declined; that was several years ago and they might consider this.  We could get some NAS members to say "this is important, please consider" as well. Let me know.

[2017-07-12 14:12] ctb commented on #6
I am happy to cover some or all of the pub costs.

[2017-07-12 14:12] ctb commented on #6
(wherever it goes, as long as it's open access.)

[2017-07-12 14:42] rougier commented on #6
Whatever the journal we choose, we'll (soon) have a version on arxiv. As for the cost, we can try to share if the  journal accepts to split the invoice (but I'm not too confident) and else it might be difficult to share the cost.

@ctb If you're ok to make an editorial inquiry to PNAS, please do so. Even if they say ok, it does not mean we'll submit to them. I will add the entry below to see who i

[2017-07-12 14:42] rougier commented on #6
[PNAS](http://www.pnas.org)

 - [ ] Open access
 - [ ] Open reviewing
 - [x] Low cost?
 - [x] Read by all?

[2017-07-12 14:44] ctb commented on #6
On Wed, Jul 12, 2017 at 07:42:12AM -0700, Nicolas P. Rougier wrote:

I would prefer to wait until we see if that's a consensus; an editorial inquiry
would involve rounding up some Names and drafting a reasonably serious
letter.

[2017-07-12 16:21] kyleniemeyer commented on #6
@ctb out of curiosity (and selfish interest for JOSS), how would getting NAS members help? Add their names to a letter, or have them ping the editor(s)?

[2017-07-12 16:26] ctb commented on #6
note that PNAS can be made open access by paying for it. *shrug*

@kyleniemeyer PNAS is the Proceedings of NAS, so having active and influential NAS members weigh in (esp if they are on the ed board) on publishing an opinion piece seems like a good idea. But I don't want to expend their time if we are not going to look there.

[2017-07-12 16:27] ctb commented on #6
Happy to try to arrange the same for JOSS if you like. At the very least it may help convince people over the long term ;)

[2017-07-12 16:31] rougier commented on #6
Hybrid models are the worst.

[2017-07-12 16:32] kyleniemeyer commented on #6
@ctb 👍 👍 !! A few of us were following this conversation, and our now looking at PNAS as a possible venue—@labarba pointed out that NAS has had some activities related to reproducibility in recent years, and both ReScience and JOSS (though less directly) might be of interest because of that.

We also brainstormed the idea of perhaps a shorter joint paper between JOSS + ReScience, at somewhere like

[2017-07-12 16:35] ctb commented on #6
@rougier The only journal on the list above that both fits and is free of any stain is PeerJ ;). And maybe JORS.

@kyleniemeyer I work(ed) with/published with/know several NAS members across fields who I think are sympathetic (J. Tiedje, R. Lenski, S. Koonin, P. Sternberg most proximally) and would be happy to pitch something to them and/or introduce. Please let me know how I can help (but suggest

[2017-07-12 16:38] kyleniemeyer commented on #6
@ctb We certainly agreed on PeerJ for the same reasons, but as I mentioned above, the JOSS article (https://arxiv.org/abs/1707.02264) was rejected from PeerJ as being out of scope—not a "research article". If the ReScience article has a different experience, I would be *very* interested to hear about it..............

Yeah, I'll follow up via email. Sorry to hijack this thread...

[2017-07-12 16:46] rougier commented on #6
@ctb F1000 is only APC, no ?

@kyleniemeyer Pleas add me in  the discussion, I would be interested in a shorter joint paper for new publishing models (as a matter of fact, I'm participating next week in a [workshop on new publishing models](http://www.computational-neuroscience-of-sensory-systems.org/workshop-on-emerging-models-in-scientific-communication-and-discussion/))

[2017-07-12 16:52] ctb commented on #6
On Wed, Jul 12, 2017 at 04:46:54PM +0000, Nicolas P. Rougier wrote:

"without stain" is broader than "charge a heckuva lot" -- e.g.

http://blog.dhimmel.com/irreproducible-timestamps/

and their behavior with respect to online doxxing, mentioned here:

ivory.idyll.org/blog/2015-authorship-on-software-papers.html

[2017-07-12 17:16] rougier commented on #6
Yep, I was only thinking about publication model.

[2017-07-12 22:08] pdebuyl commented on #6
So, staying in focus, we are down to PeerJ vs JORS?

@kyleniemeyer am also interested (exp with ReScience + open github proceedings for euroscipy)

[2017-07-13 00:03] benureau opened #40 "Missing words"
@jsta, @rougier:
"because I feel that working through code supplements to blog posts has really helped me learn how to science." seems to be missing a few words.

maybe:
"because I feel that working through code supplements blog posts and has really helped me learn how to do science."

[2017-07-13 00:09] jsta commented on #40
Your wording makes more sense for publication. I think my original writeup was in a GH issue thread so I wasn't paying much attention to grammar.

[2017-07-13 00:34] benureau commented on #34
Some suggestions:
* "Buckheit & Donoho" -> "Buckheit and Donoho"
* "20 ago that, an article" -> "20 ago that an article"
* "as one of your colleagues" -> "as one of our colleagues"
* "This draws consequences in" -> "This has consequences on" or "As a consequence, it behooves computational researchers to ensure that their practices leads to research can be actually and faithfully replicated." (perh

[2017-07-13 04:19] rougier commented on #34
@benureau Thanks. The abstract is mostly an excerpt of the website and coul probably benefit from a full rewrite. Note also that the paper version is a bit different now (some corrections were added)

[2017-07-13 04:19] #40 closed, assigned to nobody

[2017-07-13 04:31] rougier commented on #34
**New version (13/07/2017):**

Computer science offers a large set of tools for prototyping, writing, running, testing, validating, sharing and replicating results, however computational science lags behind.  In the best case, authors may provide their source code as a compressed archive and they may feel confident their research is reproducible. But this is not exactly true. James Buckheit and Da

[2017-07-13 04:41] rougier commented on #39
[code]

[2017-07-13 04:42] rougier commented on #39
Not sure where to insert these references.

[2017-07-13 04:47] rougier commented on #6
@pdebuyl I think we still have F1000, PeerJ, PNAS, Nature Comm., JORS, Plos ONE. I'll open a new issue to let people up or down vote and then we'll see.

[2017-07-13 04:53] TiinaManninen commented on #39
Maybe both of them could be included after the first sentence in Introduction: "There is a replication crisis in Science"?

[2017-07-13 18:01] #39 closed, assigned to nobody

[2017-07-13 18:22] #34 closed, assigned to nobody

[2017-07-13 18:23] #33 closed, assigned to nobody

[2017-07-13 18:23] #32 closed, assigned to nobody

[2017-07-17 05:37] rougier opened #44 "Just published on arxiv"
Just published: Sustainable computational science: the ReScience initiative http://arxiv.org/abs/1707.04393 #openscience #reproducibility

→ https://twitter.com/ReScienceEds

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Just published: Sustainable computational science: the ReScience initiative <a href="https://t.co/ezJLucm1mp">https://t.co/ezJLucm1mp</a> <a href="https:

[2017-07-17 07:22] rougier commented on #44
And you can send me an email if you want to endorse the paper (you'll need the password)

[2017-07-17 09:09] ThomasA commented on #27
Victoria Stodden

[2017-07-18 08:53] rougier opened #45 "Where to publish (poll)"
@rougier, @khinsen, @otizonaizit, @pdebuyl, @ctb, @ThomasA, @tpoisot, @benoit-girard, @karthik, @oliviaguest, @labarba, @benoit-girard, @MehdiKhamassi, @vitay, @gdetor, @dmcglinn, @yoavram, @FedericoV, @heplesser, @apdavison, @neuronalX, @piero-le-fou, @mstimberg, @rossant, @eroesch, @damiendr, @delsuc, @soolijoo, @benureau, @rth, @KamilSJaron, @almarklein, @pietromarchesi, @anyaevostinar, @ozanca

[2017-07-18 08:54] rougier commented on #45
PNAS

[2017-07-18 08:54] rougier commented on #45
F1000

[2017-07-18 08:54] rougier commented on #45
Nature communications

[2017-07-18 08:54] rougier commented on #45
PeerJ

[2017-07-18 08:54] rougier commented on #45
Computing in Science & Engineering

[2017-07-18 08:55] rougier commented on #45
PLoS ONE

[2017-07-18 08:55] rougier commented on #45
Science

[2017-07-18 08:55] rougier commented on #45
Journal of Open Research Software

[2017-07-18 08:55] rougier commented on #45
Royal Society Open Science

[2017-07-18 17:30] rougier commented on #44
@rougier, @khinsen, @otizonaizit, @pdebuyl, @ctb, @ThomasA, @tpoisot, @benoit-girard, @karthik, @oliviaguest, @labarba, @benoit-girard, @MehdiKhamassi, @vitay, @gdetor, @dmcglinn, @yoavram, @FedericoV, @heplesser, @apdavison, @neuronalX, @piero-le-fou, @mstimberg, @rossant, @eroesch, @damiendr, @delsuc, @soolijoo, @benureau, @rth, @KamilSJaron, @almarklein, @pietromarchesi, @anyaevostinar, @ozanca

[2017-07-18 19:58] ozancaglayan commented on #44
what does it mean to "endorse" in this specific context?

[2017-07-18 20:16] rougier commented on #44
From what I've understood, your name will be "officialy" attached to the paper (at the arxiv level). Currently, I've only added names but of course I could have added just any names. If you have an arxiv account, you can make the link.

[2017-07-18 20:30] labarba commented on #44
I believe there is a confusion.

In arXiv, “endorsers” are trusted authors that are called upon to endorse submissions from authors.

The preprint password is needed, in this case, for anyone to claim the paper as authors.

Whoever uploaded this to arXiv (and I missed the point where we could give the thumbs up to posting) …please, could you send the paper password to all authors? (at least, I wan

[2017-07-18 20:52] rth commented on #44
Also, more detail about it can be found in https://arxiv.org/help/endorsement ...

[2017-07-18 21:03] ozancaglayan commented on #44
okay got it. @rougier since you already have the list of author e-mails, maybe most painless way would be to send the password to all of those e-mails using a small script.

[2017-07-19 03:17] rougier commented on #44
I don't have all the emails actually. This is the reason why I'm using GitHub notification.

[2017-07-19 12:10] benoit-girard commented on #44
I have an arxiv account, and I am interested in having the password so as to link the paper to my account.

[2017-07-19 12:21] eroesch commented on #44
I am happy to endorse the paper.

Etienne

—

dr. Etienne B. Roesch   |   Associate Professor of Cognitive Science   |   University of Reading

On Tue, Jul 18, 2017 at 20:30, Nicolas P. Rougier <notifications@github.com> wrote:

@rougier,
@khinsen, @otizonaizit,
@pdebuyl,
@ctb, @ThomasA,
@tpoisot,
@benoit-girard, @karthik,
@oliviaguest,
@labarba, @benoit-girard,
@MehdiKhamassi,
@vitay,
@gdetor, @d

[2017-07-19 12:26] ChristophMetzner commented on #44
I have an arxiv account and am also interested in having the password so as to link the paper to my account.

[2017-07-19 13:07] jsta commented on #44
The email for @rougier is on his profile page.

[2017-07-19 13:59] KamilSJaron commented on #44
To get your emails, I have downloaded last 50 activities all of you and I extracted emails from commits. Downside is that if you approved commit of somebody else, I would pull it as well. So, I pulled all emails, and manually selected one that clearly matched GitHub name.

People I could not get email from are : @ThomasA @MehdiKhamassi @gdetor @FedericoV @piero-le-fou @damiendr @gdetor @MehdiKhama

[2017-07-19 14:08] soolijoo commented on #44
@rougier has my email address already. Please use my institutional address, not the gmail one (which is probably what @KamilSJaron pulled from my profile).

cheers!

[2017-07-19 17:26] rougier commented on #44
Mass email sent ! If you don't get it, please write me an email.
@soolijoo I cannot find your email actually, can you send me an email?

[2017-07-19 20:38] ThomasA commented on #44
@ThomasA's (mine) is tha@es.aau.dk

[2017-07-20 06:03] rougier commented on #6
@ctb From the current state of the poll (#45), it seems we may reach a consensus on PNAS (but 10 days left). If you want to start working on that, let me know.

[2017-07-21 05:28] #44 closed, assigned to nobody

[2017-07-24 10:15] ThomasA opened #46 "Post-pre-print edits"
I was away on vacation at the submission of the pre-print to arXiv. If I have some minor edits to suggest, is it still OK to submit a PR - just to record them for a possible later version of the paper?

[2017-07-24 10:35] rougier commented on #46
Yes, you can still (minor) correct the manuscript. At some point we'll submit it to a journal and no doubt it will need some corrections before publications and we'll upload a new version on arxiv.

[2017-07-24 12:20] #46 closed, assigned to nobody

[2017-07-29 15:31] oliviaguest commented on #44
@rougier could you email me the arXiv password so I can add to my profile, please? o.guest@ucl.ac.uk

[2017-07-31 14:39] khinsen commented on #27
[Jean-Michel Morel](https://sites.google.com/site/jeanmichelmorelcmlaenscachan/), founder of [IPOL](http://www.ipol.im/)

[2017-07-31 14:44] khinsen commented on #27
[Roger D. Peng](http://www.biostat.jhsph.edu/~rpeng/)

[2017-07-31 14:45] khinsen commented on #27
[Friedrich Leisch](http://www.rali.boku.ac.at/iasc/personen/friedrich-leisch/)

[2017-08-02 09:57] rougier commented on #6
@ctb It seems we have a large consensus for PNAS. What is the next step?

[2017-08-02 10:23] khinsen commented on #6
I checked the submission guidelines for PNAS. Some findings:

 - We are over the page limit of 6 pages for a regular article, but below the limit of 10 pages for a "PNAS Plus" article (online publication only, with only the "significance statement" in the print edition). I guess PNAS Plus is OK for us.

 - Page charges are $2300 for a PNAS Plus article, plus $1450 if we want Open Access. We need t

[2017-08-02 10:28] ctb commented on #6
I have to look into one or two things. I'll get back to ya within a day or two.

[2017-08-02 11:56] rougier commented on #6
I personally cannot pay for Open Access at PNAS (hybrid models are forbidden at my lab), but anyway, do we need Open Access if we upload an updated version on arXiv?

[2017-08-07 07:50] rougier commented on #6
@ctb Any progress? Do you need some help on anything?

[2017-08-09 07:05] rougier commented on #6
@ctb gentle reminder

[2017-08-11 16:27] rougier commented on #6
@ctb 🔔

[2017-08-14 09:58] ctb commented on #6
Last night I touched base with Rich Lenski, who is on the editorial board of PNAS. Entertainingly @tracykteal was at the same dinner, and wanted to talk to him about the same thing, but for the JOSS paper...

For some background: this paper would not fit into a regular PNAS paper type (since it's not research), but they do occasionally publish policy or op-ed-type papers.  Hence the thought here t

[2017-08-14 11:07] rougier commented on #6
For the first item, here is the reference: http://journal.frontiersin.org/article/10.3389/fncom.2015.00030/full

This short article lead to a lot of comments (see the bottom of the page) acknowledging the situation without any actual proposition. This is also where Konrad commented the problem from his own perspective and experience and following this publication, we decided to create the journal.

[2017-08-15 15:18] tracykteal commented on #6
Thanks @ctb. I'm following up with the JOSS editors about this idea. We might submit them independently, but just let Lenski know they're both coming.

[2017-08-22 20:26] rougier commented on #6
@ctb Any progress? No prob if you don't have time right now. I may have some time by next week to start something. Or @khinsen, would you have some time before the rush of September?

[2017-08-23 08:23] khinsen commented on #6
@rougier I can find some time but I am not sure we have actually decided what to do concerning JOSS. Separate publications, but submitted at the same time so PNAS could make a thematic feature out of this? A joint article, which basically means starting from scratch? Or something in between?

If we stick to the original plan of submitting our current paper, I can prepare a draft for the cover lett

[2017-08-23 11:05] rougier commented on #6
From what I've understood, I think the idea is to go separate and we'll submit our article to PNAS.

[2017-08-23 22:53] tracykteal commented on #6
Two separate papers is my understanding from the JOSS perspective as well. The cover letters likely would want to reference that we're both submitting though. @kyleniemeyer could we update the JOSS cover letter? I think then @ctb and I could coordinate on getting the papers in to Rich Lenski.

[2017-08-25 07:56] khinsen commented on #6
@tracykteal OK, it seems we agree on that approach!

[2017-08-25 07:56] khinsen commented on #6
I have written a first draft for a cover letter. Please comment on #48!

[2017-10-03 16:01] aaronshifman opened #49 "Funding PeerJ submission"
I don't know if other institutions here have this, but it looks like uOttawa will cover the bulk (if not all) of the article processing charge at PeerJ.

[2017-10-03 16:06] rougier commented on #49
Thanks, that would be great else, I (= institution) can also pay. And splitting cost is not really an option I think. But let's wait to see if we go to review at least...